<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Nathan - PERSONAL RESUME AND PORTFOLIO</title>
  <!--favicon-->
  <link rel="apple-touch-icon" href="assets/theme/images/iconcv.png">
  <link rel="icon" href="assets/theme/images/iconcv.png">

  <!--pace (page loader) style-->
  <link href="assets/plugins/pace/pace.css" rel="stylesheet">
  <script src="assets/plugins/pace/pace.min.js"></script>

  <!-- Bootstrap -->
  <link href="assets/plugins/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icons -->
  <link href="assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- typed style -->
  <link href="assets/plugins/typed/typed.css" rel="stylesheet">
  <!-- popup style-->
  <link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
  <!-- simple Captcha-->
  <link href="assets/plugins/simpleCaptcha/jquery.simpleCaptcha.css" rel="stylesheet">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Themes styles-->
  <link href="assets/theme/css/style.css" rel="stylesheet">
  <!-- black skin-->
  <!-- <link href="assets/theme/css/skin-black.css" rel="stylesheet"> -->
</head>


<body  data-spy="scroll" data-target=".menu-area" data-offset="200">
<!--wrapper page-->
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header" id="home">
    <div class="content-table header-content-fixed ">
      <div class="whoim">
        <div class="box-line text-uppercase text-bold">
          Who I Am
        </div>
      </div>
      <div class="v-content">
        <div class="container">
          <h1 class="text-uppercase color-dark name">i’m Nathanael Pardosi</h1>
          <h4  class="text-uppercase color-dark font-alt job"><span id="typed" class="typed"></span></h4>
        </div>
      </div>
    </div>


    <!-- Main navbar -->
    <div class="menu-area">
      <div class="toogle-bars">
        <a href="#menu-collapse" data-toggle="collapse" class="collapsed"><i class="fa fa-bars ic-open"></i> <i class="fa fa-remove ic-close"></i> MENU</a>
      </div>
      <div class="menu-collapse collapse" id="menu-collapse">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <ul class="breadcrumb main-nav no-space">
                <li class="link-inpage"><a href="#contact" id="hireme-tab" class="link-inpage"><i class="fa fa-briefcase"></i> Hire Me Now</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb main-nav nav">
                <li class="active"><a href="#home" class="link-inpage">Home</a></li>
                <li ><a href="#about" class="link-inpage">About</a></li>
                <li ><a href="#resume" class="link-inpage">Resume</a></li>
                <li ><a href="#portfolio" class="link-inpage">Certification</a></li>
                <li ><a href="#blog" class="link-inpage">Project</a></li>
                <li ><a href="#contact" id="contact-tab" class="link-inpage">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="breadcrumb main-nav no-space">
                <li>
                  <a href="#" ><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"  ><i class="fa fa-google"></i></a>
                </li>
                <li>
                  <a href="https://linkedin.com/in/nathanaelpardosi" ><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="https://github.com/Nathanaja12" ><i class="fa fa-github"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Main navbar -->
  </header><!-- End Main Header -->


      <!-- BLOG DETAIL -->
      <section id="blog" class="block-section">
        <div class=" shape-bottom">
          <div class="bg-secondary block-title">
            <div class="container">
              <h2 class="text-uppercase color-dark text-bold no-margin">TRACT TRACKING KPI SYSTEM</h2>
              <div class="title-icon"> <i class="fa fa-inbox"></i> </div>
            </div>
          </div>
        </div>

        <!-- BLOG CONTENT  -->
        <div class="block-page" >
          <div class="container-medium">
            <div class="row">
              <div class="col-md-9">
                <div class="blog-content">
                  <img src="assets/theme/images/Tract.png" alt="" class="img-responsive">
                  <div class="white-space-20"></div>
                  <div class="post-meta font-alt">
                    <span><i class="fa fa-clock-o"></i> 4 Months</span>
                    <span><i class="fa fa-building"></i> Kolaborasi.co</span>
                  </div>
                  <blockquote>
                    <p><a href="https://drive.google.com/file/d/1qXhLSvhlyJCfZ8QnZnDkgvryhVZs4nn2/view?usp=sharing">Presentation Video</a></p>
                    <p><a href="https://docs.google.com/presentation/d/15UCLpoUATRHJIZ6EQCl79tksatO7p7DiFcLLafecFFE/edit?usp=sharing">Pitch Deck</a></p>
                  </blockquote>
                  <h3><b>Project Overview</b></h3>
                  <p>Tract is a web-based KPI tracking system to help Kolaborasi.co oversee their business unit performance in product and finance. This system could provide some insight to Kolaborasi.co and help them to make the right decision for their business unit based on their performance.</p>

<!--                  <h3><b>Problem Statement</b></h3>-->
<!--                  <p></p>-->

<!--                  <h3><b>Challenges</b></h3>-->
<!--                  <ol>-->
<!--                    <li> </li>-->
<!--                    <li> </li>-->
<!--                    <li> </li>-->
<!--                  </ol>-->

<!--                  <h3><b>Design Process</b></h3>-->
<!--                  <p></p>-->
<!--&lt;!&ndash;                  <img src="assets/theme/images/Designthinking.png" alt="" class="img-responsive">&ndash;&gt;-->
<!--                  <p></p>-->

<!--                  <h3><b>Features Needed</b></h3>-->
<!--&lt;!&ndash;                  <img src="assets/theme/images/Badrfeat.png" alt="" class="img-responsive">&ndash;&gt;-->

<!--                  <h3><b>Design Phase</b></h3>-->
<!--                  <p></p>-->
<!--                  <ol>-->
<!--                    <li> </li>-->
<!--                    <li> </li>-->
<!--                    <li> </li>-->
<!--                    <li> </li>-->
<!--                  </ol>-->

                </div>

                <div class="white-space-30"></div>
              </div>
              <div class="col-md-3">
                <!-- END WIDGET BLOG  -->
                <form class="box-widget">
                  <div class="input-group">
                    <input type="text" placeholder="Keywords" name="search"  class="form-control form-flat ">
                    <span class="input-group-btn">
                      <button class="btn primary-btn btn-flat-solid btn-icon " type="button"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </form><!-- END WIDGET BLOG  -->

                <!-- END WIDGET BLOG  -->
                <div class="box-widget">
                  <h5 class="color-dark text-bold text-uppercase">Categories</h5>
                  <ul class="list-category list-unstyled">
                    <li><a href="#">Web Design <span class="color-dark"></span></a></li>
                    <li><a href="#">Wordpress <span class="color-dark"></span></a></li>
                    <li><a href="#">Html/Css <span class="color-dark"></span></a></li>
                    <li><a href="#">Branding <span class="color-dark"></span></a></li>
                    <li><a href="#">Animation <span class="color-dark"></span></a></li>
                  </ul>
                </div><!-- END WIDGET BLOG  -->

                <!-- END WIDGET BLOG  -->
                <div class="box-widget">
                  <h5 class="color-dark text-bold text-uppercase">Popular tags</h5>
                  <ul class="list-tags list-unstyled">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Html/Css</a></li>
                    <li><a href="#">Branding</a></li>
                    <li><a href="#">Animation</a></li>
                    <li><a href="#">Xcode</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Socials media</a></li>
                    <li><a href="#">Photography</a></li>
                  </ul>
                </div><!-- END WIDGET BLOG  -->


              </div>
            </div>
          </div>
        </div><!--END BLOG CONTENT  -->

        <!-- PARALLAX BTNS  -->
        <div class="parallax-bg white-light bg1">
          <div class="container">
            <div class="padding30 text-center relative">
              <a href="#" class="btn btn-flat-line btn-default light-font btn-xs"><i class="fa fa-angle-left"></i>  PREV POST</a>
              <span class="space-inline-15 hidden-xs"></span>
              <a href="#" class="btn btn-flat-line btn-default light-font btn-xs">NEXT POST <i class="fa fa-angle-right"></i> </a>
            </div>
          </div>
        </div><!-- END PARALLAX BTNS  -->

      </section><!-- BLOG DETAIL -->

  <!--FOOTER-->
  <footer class="main-footer">
    <div class="container">
      <div class="folow-me">
        Follow Me On
      </div>
      <ul class="list-inline social-links text-center">
        <li>
          <a href="#"  data-toggle="tooltip"  data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"  data-toggle="tooltip"  data-placement="top" title="Google"><i class="fa fa-google"></i></a>
        </li>
        <li>
          <a href="https://linkedin.com/in/nathanaelpardosi/"  data-toggle="tooltip"  data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://github.com/Nathanaja12"  data-toggle="tooltip"  data-placement="top" title="Github"><i class="fa fa-github"></i></a>
        </li>
      </ul>
      <p class="text-center no-margin">
        Solid - All Rights Reserved &COPY; 2014
      </p>
      <a href="#home" class="back-to-top"><i class="fa fa-angle-double-up" ></i></a>
    </div>
  </footer><!--END FOOTER-->
</div><!--End wrapper page-->

<!-- generate captcha -->
<div id="mycaptcha-wrap" class="hidden mycaptcha1">
  <div id="mycaptcha" class="mycaptcha1"></div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="assets/plugins/jquery.js"></script>
<script src="assets/plugins/bootstrap-3.3.1/js/bootstrap.min.js"></script>

<!-- maps js -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="assets/plugins/jquery.ui.map.js"></script>
<!-- advanced easing options -->
<script src="assets/plugins/jquery.easing-1.3.pack.js"></script>
<!-- parallax bg js -->
<script src="assets/plugins/jquery.parallax-1.1.3.js"></script>
<!-- lightbox js -->
<script src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- typed animation-->
<script src="assets/plugins/typed/typed.js"></script>
<!-- easy chart-->
<script src="assets/plugins/easypiechart/jquery.easypiechart.min.js"></script>
<!-- simple Captcha -->
<script src="assets/plugins/simpleCaptcha/jquery.simpleCaptcha.js"></script>
<!-- simple Ajax Uploader -->
<script src="assets/plugins/Simple-Ajax-Uploader/SimpleAjaxUploader.min.js"></script>
<!-- validate jquery-->
<script src="assets/plugins/validator/jquery.validate.min.js"></script>

<!--=====================================================-->
<!--configuration template-->
<script src="assets/theme/js/theme.js"></script>
</body>
</html>